:root {
  --pacific-blue: #53a5b5ff;
  --russian-green: #749473ff;
  --hunter-green: #345f48ff;
  --blue-munsell: #2d95acff;
  --middle-green: #5a875fff;
  --red: red;
  --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Amaranth", sans-serif;
  background-color: var(--middle-green);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  background-color: var(--pacific-blue);
  box-shadow: var(--shadow);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-width);
  padding: var(--spacing-lg);
}

.header-logo {
  font-size: 1.5rem;
  text-decoration: none;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: var(--spacing-lg);
  max-width: var(--container-width);
  margin: var(--spacing-lg) auto;
}

.main-addBookBtn {
  font-family: "Amaranth", sans-serif;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
  background-color: var(--pacific-blue);
  font-size: 1.2rem;
  text-decoration: none;
}

.main-addBookBtn:hover {
  background-color: var(--blue-munsell);
}

.main-addBookBtn:active {
  background-color: var(--hunter-green);
}

.main-bookGrid {
  margin-top: var(--spacing-lg);
  display: grid;
  /* 3 columns, 1fr each */
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--container-width) / 4), 1fr)
  );
  grid-gap: var(--spacing-lg);
  width: 100%;
}

.main-bookCard {
  font-size: 1.2rem;
  display: flex;
  line-height: 1.2;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-sm);
  background-color: var(--russian-green);
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  box-shadow: var(--shadow);
}

.main-bookCardBtnGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.main-bookCardBtn {
  font-family: "Amaranth", sans-serif;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
  background-color: var(--pacific-blue);
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
}

/* FOOTER */
.footer {
  margin-bottom: var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  grid-row: 3 / 4;
}

.fa-github {
  font-size: 20px;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MODALS */
.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-addBookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-lg);
  background-color: var(--russian-green);
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  box-shadow: var(--shadow);
  width: 100%;
  max-width: calc(var(--container-width) / 4);
}

.modal-addBookForm h3 {
  font-size: 1.5rem;
}

.modal-formInput {
  font-family: "Amaranth", sans-serif;
  padding: var(--spacing-sm);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--pacific-blue);
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
}

.modal-formInput:focus {
  outline: none;
}

.modal-errorMsg {
  display: none;
  color: var(--red);
}

.modal-errorMsg.active {
  display: block;
}

.modal-isRead {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.modal-checkbox {
  width: 20px;
  height: 20px;
  margin: 4px 0 0;
  accent-color: white;
}

.modal-submitBtn {
  font-family: "Amaranth", sans-serif;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--pacific-blue);
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
}

.modal-submitBtn:hover {
  background-color: var(--blue-munsell);
}

.modal-submitBtn:active {
  background-color: var(--hunter-green);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay.active {
  display: block;
}
/* LOADING RING */

/* MEDIA QUERIES */
