:root {
  --passionate-red: 191, 5, 55;
  --nostalgic-yellow: 242, 233, 107;
  --soft-gray: 237, 196, 178;
  --yello-range: 242, 174, 114;
  --dark-black: 89, 2, 2;
  --sharp-white: 255, 255, 255;
  --vista-blue: 138, 166, 198;
  --steel-blue: 50, 129, 178;
  --yinmn-blue: 57, 85, 158;
  --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --footer-height: 40px;
  --btn-height: 50px;
  --img-height: 300px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* GLOBAL */
@font-face {
  font-family: "Griffo Classico";
  src: local("Griffo Classico Bold"), local("Griffo-Classico-Bold"),
    url("GriffoClassicoBold.woff2") format("woff2"),
    url("GriffoClassicoBold.woff") format("woff"),
    url("GriffoClassicoBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("../assets/bennyRestaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 35%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.decorated-main {
  color: rbga(var(--yinmn-blue), 1);
}

.decorated-accent {
  color: rgba(var(--vista-blue), 1);
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  background-color: rgba(var(--nostalgic-yellow), 0.8);
  box-shadow: var(--shadow);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--container-width);
  padding: var(--spacing-lg);
}

.header-title {
  font-family: "Griffo Classico", sans-serif;
  color: rgba(var(--yinmn-blue), 1);
  font-size: 1.5rem;
}

/* NAVBAR */
.main {
  font-family: "Alegreya", sans-serif;
  font-size: 1.2rem;
  color: rgba(var(--dark-black), 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: rgba(var(--yello-range), 0.8);
}

.main-navbar {
  width: 100%;
  height: var(--btn-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: var(--shadow);
}

.main-navbar-item {
  font-family: "Alegreya", sans-serif;
  color: rgba(var(--yinmn-blue, 1));
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background-color: rgba(var(--yello-range), 1);
  transition: all 0.3s ease-in-out;
}

.main-navbar-item:hover,
.main-navbar-item:active,
.main-navbar-item:focus {
  background-color: rgba(var(--nostalgic-yellow), 0.8);
}

/* HOME */
.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--spacing-lg);
  background-color: rgba(var(--nostalgic-yellow), 1);
}

.main-home-title {
  font-family: "Griffo Classico", sans-serif;
  color: rgba(var(--yinmn-blue), 1);
  font-size: 2rem;
  margin: var(--spacing-lg) 0;
}

.main-home-description {
  color: rgba(var(--dark-black), 1);
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.15rem;
  max-width: calc(var(--container-width) / 1.5);
}

/* MENU */
.main-menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--container-width) / 3), 1fr));
  grid-gap: var(--spacing-lg);
  padding: var(--spacing-lg);
}

.main-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--nostalgic-yellow), 1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}

.main-menu-item:hover {
  transform: scale(1.03);
}

.main-menu-item-img {
  width: 100%;
  height: var(--img-height);
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.main-menu-item-title {
  font-family: "Griffo Classico", sans-serif;
  color: rgba(var(--yinmn-blue), 1);
  font-size: 1.5rem;
  margin: var(--spacing-sm) 0;
}

.main-menu-item-description {
  color: rgba(var(--dark-black), 1);
  font-size: 1rem;
  margin: var(--spacing-sm);
  letter-spacing: 0.15rem;
}

/* CONTACT */
.main-contact {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  width: 100%;
  height: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--spacing-lg);
  background-color: rgba(var(--nostalgic-yellow), 1);
}

/* FOOTER */
.footer {
  padding-bottom: var(--spacing-xs);
  height: var(--footer-height);
  background-color: rgba(var(--soft-gray), 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  grid-row: 3 / 4;
}

.fa-github {
  font-size: 20px;
  margin-top: 4px;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */
@media screen and (max-width: 425px) {
  .main-menu-grid {
    grid-template-columns: 1fr;
  }
}
