:root {
  --ice-cold: 160, 210, 235;
  --freeze-purple: 229, 234, 245;
  --medium-purple: 208, 189, 244;
  --purple-pain: 132, 88, 179;
  --heavy-purple: 162, 128, 137;
  --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --btn-width: 50px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Amaranth", sans-serif;
  background-color: rgba(var(--ice-cold), 1);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  background-color: rgba(var(--freeze-purple), 1);
  box-shadow: var(--shadow);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--container-width);
  padding: var(--spacing-lg);
}

.header-title {
  font-size: 1.5rem;
}

/* GAMEBOARD */
.playArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "playerX playerO"
    "board board"
    "restart restart";
  justify-items: center;
  align-items: center;
  gap: var(--spacing-lg);
  width: 100%;
  text-align: center;
  padding: var(--spacing-lg);
  max-width: var(--container-width);
  margin: var(--spacing-lg) auto;
}

.playArea button {
  background-color: rgba(var(--freeze-purple), 1);
  border: 1px solid rgba(var(--purple-pain), 1);
  border-radius: var(--border-radius);
  color: rgba(var(--purple-pain), 1);
  font-weight: 700;
  height: var(--btn-width);
  width: 100%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.playArea button:hover {
  background-color: rgba(var(--medium-purple), 1);
  color: rgba(var(--heavy-purple), 1);
}

.playArea button:active {
  background-color: rgba(var(--purple-pain), 1);
  color: rgba(var(--freeze-purple), 1);
}

.playArea-playerX,
.playArea-playerO {
  font-size: 2rem;
}

.playArea-gridLines {
  grid-area: board;
  height: calc(var(--container-width) / 2);
  width: calc(var(--container-width) / 2);
  background-color: rgba(var(--purple-pain), 1);
}

.playArea-gameBoard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--spacing-xs);
}

.playArea-gameBoard button {
  background-color: rgba(var(--freeze-purple), 1);
  border: none;
  color: rgba(var(--purple-pain), 1);
  border-radius: 0;
  font-size: 8rem;
  height: 100%;
}

.playArea-restart {
  grid-area: restart;
  font-size: 1.2rem;
}

/* FOOTER */
.footer {
  margin-bottom: var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  grid-row: 3 / 4;
}

.fa-github {
  font-size: 20px;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MODAL */
.resultModal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: rgba(var(--purple-pain), 0.6);
  color: rgba(var(--freeze-purple), 1);
}

.resultModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}